﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    #map {
        margin-top: 3%;
        height: 400px;
        width: 100%;
    }
</style>

<div class="row">
    <div id="map"></div>

    <div id="panelDeControl">
        <label for="latitud">Latitud</label><br />
        <input type="number" id="latitud" placeholder="Latitud" /><br />

        <label for="longitud">Longitud</label><br />
        <input type="number" id="longitud" placeholder="Longitud" /><br />

        <label for="nombreMarcador">Nombre para el Marcador</label><br />
        <input type="text" id="nombreMarcador" placeholder="Nombre Marcador" />

        <br /><br />


        <button onclick="buscarUbicacion(document.getElementById('latitud').value, document.getElementById('longitud').value)">Buscar Ubicación</button>
        <button onclick="eliminarMarcadores()">Eliminar Marcadores</button>
        <button onclick="convertirAPosicion(document.getElementById('latitud').value, document.getElementById('longitud').value)">Crear Marcador</button>
    </div>

    <script>
        var map;

        var markers = [];

        var posiciones = [];

        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 9.932781, lng: -84.031195 },
                zoom: 18
            });

            //Agregar Marcador en posicion original
            convertirAPosicion(9.932781, -84.031195)

            map.addListener("click", (event) => {
                crearMarcador(event.latLng);
            });

            ////Crea uns posicion basada en coordenadas lat y lon
            //marcadorInicial = new google.maps.LatLng(25, 25);

            //crearMarcador(marcadorInicial);
        }

        function settearMapa(map) {
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap();
            }
        }

        function esconderMarcadores() {
            settearMapa(null);
        }

        function buscarUbicacion(lat, lon) {
            latitud = parseFloat(lat);
            longitud = parseFloat(lon);

            map.setCenter(new google.maps.LatLng(latitud, longitud));
        }

        function convertirAPosicion(lat, lon) {
            console.log("Fucion llamada");

            console.log(lat + " , " + lon);

            latitud = parseFloat(lat);
            longitud = parseFloat(lon);

            console.log(latitud + " , " + longitud);

            posicion = new google.maps.LatLng(latitud, longitud);

            console.log(posicion);

            crearMarcador(posicion);
        }

        function crearMarcador(position) {
            posiciones.push(posiciones);
            console.log(posiciones.length)

            const marker = new google.maps.Marker({
                position,
                map,
            });

            markers.push(marker);

            console.log("Marcador creado");
        }

        function eliminarMarcadores(id) {
            esconderMarcadores();
            markers = [];
        }
        
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBvuG3nmRqD6pI7uduRy90MeJIrPhSa4o&callback=initMap&libraries=&v=weekly" defer></script>
</div>